.env
.htpasswd
.vscode
stacks/.env
appdata/adguardhome/*
appdata/authelia/*
appdata/chronograf/*
appdata/docker-gc/*
appdata/duplicacy/*
appdata/emby/*
appdata/gitea/*
appdata/grafana/*
appdata/influxdb/*
appdata/jackett/*
appdata/mariadb/*
appdata/mygaps/*
appdata/nc-mariadb/*
appdata/nc-redis/*
appdata/nexcloud/*
appdata/overseerr/*
appdata/organizr/*
appdata/plexms/*
appdata/portainer/*
appdata/radarr/*
appdata/readarr/*
appdata/sonarr/*
appdata/tautulli/*
appdata/trackarr/*
appdata/traefik2/acme/
appdata/traefik2/traefik.log
appdata/traefik2/rules/app-piehole.yml
appdata/traefik2/rules/app-prox.yml
appdata/traefik2/rules/middlewares.yml
appdata/varinfluxdb/*
appdata/varken/*
appdata/xteve/*
secrets/*
back


